

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {Class: "well"}) do |f| %>
  <%= devise_error_messages! %>

<fieldset>  
    <legend>Edit user details</legend>

  <div><%= f.input :email %><br />
  
  <%# if resource.class.reconfirmable && resource.unconfirmed_email.present? %>
    <!-- <div>Currently waiting confirmation for: --> <%#= resource.unconfirmed_email %>
  <%# end %>

  <div><%= f.input :password, :placeholder => 'Leave blank if you dont want to change it', :autocomplete => "off" %> <br />
  
  <div><%= f.input :password_confirmation %><br />
  
  <div><%= f.input :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  
  <div><%= f.submit "Update" %></div>

</fieldset>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>
